.App{
  display: flex;
  align-items: center;
 justify-content: center; 
 margin-top: 130px  ;
}
.calculator:hover{
  cursor: pointer;
}
.display{
  width: 318px;
  height: 70px;
  border: solid 1px black ;
  background-color: powderblue;
}
.buttons{
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 320px; 
}
.leftSide{
flex: 75%;
height: 100%;
background-color: burlywood;
}
.rightSide{
    flex: 25%;
    height: 100%;
    background-color: burlywood;
}
#seeResult{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  border: solid 1px black;
  color: whitesmoke;
}
.numbers{
  background-color: palevioletred;
  height: 240px;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
}
#individualnumber, #operation{
  background-color: whitesmoke;
  height: 78px;
  width: 78px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#operation{
  background-color: crimson;
}